{
    "plugins": [
      ["module-resolver", {
        "root": ["./src"],
        "alias": {
          "_": ".",
          "assets": "./assets",
          "components": "./components",
          "layouts": "./layouts",
          "models": "./models",
          "pages": "./pages",
          "services": "./services",
          "utils": "./utils",
          "styles": "./styles"
        }
      }]
    ]
  }