.site_tag_plus {
  background: #fff !important;
  border-style: dashed !important;
  cursor: pointer !important;
}
.edit_tag {
  user-select: none !important;
}
.tag_input {
  width: 78px !important;
  margin-right: 8px !important;
  vertical-align: top !important;
}
