body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.show-on-xs {
  display: none;
}

@media (max-width: 768px) {
  .hide-on-xs {
    display: none;
  }
  .show-on-xs {
    display: block;
  }
}
